
body {
    margin: 0;
    padding: 0;
    background-color: rgba(246, 246, 246, 0.969);
    font-family: Papyrus;
}

a:hover{
    transform: scale(1.02);
    transition: all;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(184, 64, 62);
}


.heading {
    background-image: url("images/cook.jpg");
    opacity: 1;
    background-size: cover;
    background-color: rgb(167, 62, 62);
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    padding: 60px 0;
    grid-column: 1/-1;
    text-align: center;
    height: 300px;
}
.heading>h1 {
    font-weight: 400;
    font-size: 150px;
    letter-spacing: 10px;
    margin-bottom: -40px;
    margin-top: 40px;
}
.row {
    display: flex;
    gap: 20;
    grid-column: 1/-1;
    margin-left: 20vw;
    margin-right: 20vw;
    gap: 40px;
    margin-top: 8vh;
   
  }
  
.column {
    background: lightblue;
    flex: 1;
    height: 45vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}
.column + .column {
    margin-left: 2em;
}
